@import "settings";

.bl_card_list{

}

.bl_card_list{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	// border-bottom: 1px solid #000;
}

.bl_card_item{
	position: relative;
	width: 33%;
	margin-bottom: 1em;
}
.bl_card_item img{
	width: 100%;
}

.bl_card_list.bl_card_list--size3{
	// margin-left: -16px;
}
.bl_card_list.bl_card_list--size3 .bl_card_item{
	width: 33%;
	padding-left: 8px;
padding-right: 8px;
	@include mq(md) { 
        width: 50%;
      }
	@include mq(sm) { 
        width: 100%;
      }
}